/* Sorts the variable $list_to_sort and prints the sorted list in the debug output */

@import '103-sort_list';

$sorted_list: ();
@each $name in $list_to_sort {
  $sorted_list: append($sorted_list, $name);
}

$sorted_list: sort($sorted_list);

@debug $sorted_list;
